body{padding:0;margin:0;font:12px/1.5 Arial, Helvetica, sans-serif;color:#333;background:#e0e4cc;}
a{color:#fa6900;}
#container{position:relative;overflow:hidden;width:820px;margin:0 auto;padding:0 20px 10px;background:#fff;}
h1{float:left;margin:20px 0 10px;padding:0;line-height:30px;font-size:24px;}
h1 span{color:#69d2e7;}
h2{clear:both;margin:0 0 14px;padding:40px 5px 5px;line-height:18px;font-family:Georgia, Helvetica, sans-serif;font-style:italic;font-size:18px;border-bottom:3px solid #fa6900;zoom:1;}
h3{clear:left;font-size:16px;}
pre{overflow:auto;margin:10px 0;padding:5px;background:#a7dbd8;}
code{background:#a7dbd8;}
pre code{font:12px monospace;}
ul{list-style-type:square;}
img{vertical-align:bottom;border:0;}
blockquote{margin:50px 40px 0;font-size:30px;quotes:"\201C" "\201D";}
blockquote p:before{content:open-quote;font-weight:bold;}
blockquote p:after{content:close-quote;font-weight:bold;}
cite{float:right;margin-right:40px;display:inline;}
ul em{padding:2px;font-size:11px;font-style:normal;color:#fff;background:#fa6900;}
ul em span{position:absolute;left:-9999px;}
.translations{float:right;margin-right:20px;top:0;margin:0;padding:0;display:inline;}
.translations dt{margin:0;padding:0;text-indent:-9999px;}
.translations dd{margin:0;padding:0;height:19px;}
.translations dd a{float:right;padding-right:20px;line-height:19px;text-align:right;background:url(flags.png) no-repeat 100% 0;}
.translations dd strong a{text-decoration:none;}
.translations dd.en a{background-position:100% -19px;}
.translated-by p{position:absolute;top:58px;right:35px;width:150px;margin:0;padding:10px;text-align:justify;background:#fff;border:1px solid #fa6900;}
#page-footer{margin-top:80px;padding-top:10px;text-align:center;border-top:1px solid #fa6900;}

/* SuperBox! custom theme */
#superbox-overlay{background:#e0e4cc;}
#superbox-container .loading{width:32px;height:32px;margin:0 auto;text-indent:-9999px;background:url(loader.gif) no-repeat 0 0;}
#superbox .close a{float:right;padding:0 5px;line-height:20px;background:#333;cursor:pointer;}
#superbox .close a span{color:#fff;}
#superbox .nextprev a{float:left;margin-right:5px;padding:0 5px;line-height:20px;background:#333;cursor:pointer;}
#superbox .nextprev a span{color:#fff;}
#superbox .nextprev .disabled{background:#ccc;cursor:default;}